<h1>About us</h1>
	<p>We offer you the best value for money</p>
<div class = "row who"> 
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<%= image_tag("bike_hall.jpg", class: "img-responsive") %>
  </div>
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<h3>Our Story</h3>
	  	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
	</div>
</div>
<div class = "row how"> 
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<h3>How we work</h3>
	  	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
  </div>
  <div class = "col-sm-12 col-md-6 col-lg-6">
  	<%= image_tag("bike_wall.jpg", class: "img-responsive") %>
 	</div>
</div>


