<h1>These are our products</h1>
<div class = "row"> 
  <div class = "col-sm-12 col-md-4">
  	<h3>City bikes</h3>
  	<%= image_tag("city_bike.jpeg", class: "img-responsive") %>
  </div>
  <div class = "col-sm-12 col-md-4">
  	<h3>Racing bikes</h3>
	  	<%= image_tag("racing_bike.jpeg", class: "img-responsive") %>
	</div>
  <div class = "col-sm-12 col-md-4">
  	<h3>Mountain bikes</h3>
	  	<%= image_tag("Mountain_bike.jpeg", class: "img-responsive") %>
	</div>
</div>
