// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  background-size:cover;
  background: image-url('skulls.png'); 
  padding: 0, 25px, 25px, 25px;
}

nav  {
	font-family: verdana;
	font-size: 1.3em;
	background-color: #FC4A1A;
}

.navbar-brand {
	font-size: 1.3em;
}

h1 {
	color: #F7B733;
	}

a {
	padding-left: 15px;
	color: #2f5f58;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
  color: white;
}

.container {
	padding-top: 40px;
}

.img-responsive {
	position: center;
	max-width: 100%;
}

footer {
	padding-bottom: 10px;
	padding-left: 40px;
	background-color: #F7B733;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
  overflow: hidden;
  margin-top: 40px;
}

.active {
	color: white;
}


